@import "style/variables.scss";
@import "style/mixins.scss";
@import "components/input-field/input-field.module.scss";
@import "components/button/button.module.scss";

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size-h4;

  &__header {
    width: 100%;
    text-align: center;
    font-size: $font-size-h3;
  }

  &__subheader {
    width: 100%;
    text-align: center;
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    transition: border 0.3s ease;


    &_error {
      border: 3px solid #F66;
    }

    &:focus, &:hover {
      border: 1px solid $color-accent-2;
    }

    @include media-styles("xs") { padding: 15px 30px }
  }

  &__button {
    box-sizing: border-box;
    font-size: $font-size-h4;

    &_disabled {
      background: #888;
      box-shadow: none;
      filter: none;
    }

    @include media-styles("xs") {
      padding: 20px 35px;
      min-width: 210px;
    }
  }

  &__warning {
    margin-top: 20px;
    font-family: $font-family-oswald;
    font-size: $font-size-h6;
    font-weight: $font-weight-light;
  }

  &__text-area {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    font-weight: $font-weight-regular;
    padding: 20px 30px;
    outline: none;
    letter-spacing: 0.05em;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 1em;

    &:focus, &:hover {
      border: 1px solid $color-accent-2;
    }

    &_error {
      border: 3px solid #F44;
    }

    &::placeholder {
      color: $color-text-unactive;
      text-align: left;
    }
  }

  @media screen and (max-width: 500px) {
    font-size: $font-size-h5;

    &__button {
      font-size: $font-size-h5;
    }
  }
}
