@import "style/variables.scss";
@import "style/mixins.scss";

.root {
  display: flex;

  &__icon {
    pointer-events: none;
    width: 90px;

    @include media-styles("s") { width: 80px }
    @include media-styles("xs") { width: 70px }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFF;
    font-family: $font-family-oswald;
    font-size: $font-size-h3;
    font-weight: $font-weight-light;
    text-decoration: underline;
    letter-spacing: 0.05em;
    padding-left: 10px;

    @include media-styles("l") { font-size: $font-size-h4 }
    @include media-styles("xs") { font-size: $font-size-h5 }
  }

  &__link { color: #FFF }

  &:hover &__text { text-decoration: none }
}
